.Container {
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.imageOne {
    height: 40rem;
    width: 25rem;
    margin: 10%;
    padding: 1%;
    background-color: lightgrey;
}

.secondCol {
    height: 20rem;
    width: 25rem;
    margin: 10%;
    padding: 1%;
    background-color: lightgrey;
}
